.container {
	width: min(
		(100% - 2rem),
		var(--container-width, var(--default-width, 64rem))
	);
	margin-inline: auto;

	&-narrow {
		--default-width: 40rem;
		@extend .container;
	}
	&-wide {
		--default-width: 75rem;
		@extend .container;
	}
	&-full-width {
		width: 100%;
		@extend .container;
	}
}
