@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/poppins-bold-webfont.woff2') format('woff2'),
		url('/fonts/poppins-bold-webfont.woff') format('woff');
}
